<a href="https://colab.research.google.com/github/thuhinkhanna/COMP-6721-Project/blob/main/AI_Project_Fashion_Patterns_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d nitinsss/fashion-dataset-with-over-15000-labelled-images

Downloading fashion-dataset-with-over-15000-labelled-images.zip to /content
  0% 0.00/438k [00:00<?, ?B/s]
100% 438k/438k [00:00<00:00, 25.5MB/s]

In [ ]:
!ls

fashion-dataset-with-over-15000-labelled-images.zip  kaggle.json  sample_data

In [ ]:
!unzip fashion-dataset-with-over-15000-labelled-images.zip
!ls

Archive:  fashion-dataset-with-over-15000-labelled-images.zip
  inflating: dress.csv
dress.csv  fashion-dataset-with-over-15000-labelled-images.zip	kaggle.json  sample_data

In [ ]:
import pandas as pd

df = pd.read_csv('/content/dress.csv', error_bad_lines=False)

<ipython-input-7-4f2227a68d9a>:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('/content/dress.csv', error_bad_lines=False)

In [ ]:
df.shape

(15702, 4)

In [ ]:
df.head

<bound method NDFrame.head of         _unit_id   category  category:confidence  \
0      851505458       ikat               0.3487
1      851505459      plain               1.0000
2      851505460  polka dot               0.6709
3      851505461      plain               1.0000
4      851505462   geometry               0.7035
...          ...        ...                  ...
15697  854497210      plain               1.0000
15698  854497281     floral               1.0000
15699  854497512    squares               0.9230
15700  854497595     tribal               0.5199
15701  856388654  polka dot               0.9618

                                               image_url
0      http://s3-eu-west-1.amazonaws.com/we-attribute...
1      http://s3-eu-west-1.amazonaws.com/we-attribute...
2      http://s3-eu-west-1.amazonaws.com/we-attribute...
3      http://s3-eu-west-1.amazonaws.com/we-attribute...
4      http://s3-eu-west-1.amazonaws.com/we-attribute...
...                                                  ...
15697  http://s3-eu-west-1.amazonaws.com/we-attribute...
15698  http://s3-eu-west-1.amazonaws.com/we-attribute...
15699  http://s3-eu-west-1.amazonaws.com/we-attribute...
15700  http://s3-eu-west-1.amazonaws.com/we-attribute...
15701  http://s3-eu-west-1.amazonaws.com/we-attribute...

[15702 rows x 4 columns]>

In [ ]:
df['category'].unique()

array(['ikat', 'plain', 'polka dot', 'geometry', 'floral', 'squares',
       'scales', 'animal', 'OTHER', 'stripes', 'tribal', 'houndstooth',
       'cartoon', 'chevron', 'stars', 'letter_numb', 'skull'],
      dtype=object)

In [ ]:
df['category'].nunique()

17